<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

  <link rel="shortcut icon" href="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/favicon.png?4678" type="image/png" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Preggonista - Preggonista | The maternity fashion &amp; style destination for pregnant women</title>

  
  <meta name="description" content="Preggonista | With child with style | The maternity fashion &amp; style destination for pregnant women" />
  

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
  <link rel="canonical" href="http://preggonista.myshopify.com/" /> 

  <style>.rounded-corners {
     -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
	color:white;
	background-color:#df1f8f;
    
}
</style>


  
    <meta property="og:image" content="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/logo.png?4678" />
  


 <!--  <link href="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/styles.css?4678" rel="stylesheet" type="text/css"  media="all"  /> -->
  <link href="https://cdn.shopify.com/s/files/1/0242/2427/t/4/assets/styles.css?5206" rel="stylesheet" type="text/css" media="all" />
  
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cabin:300,400,700">
  
  
  <script src="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/html5shiv.js?4678" type="text/javascript"></script>

  <script type="text/javascript">      var Shopify = Shopify || {};
      Shopify.shop = "preggonista.myshopify.com";
      Shopify.theme = {"name":"launchpad","id":4854879};
  


</script>


<script type="text/javascript">var __st={"a":2422427,"offset":-14400,"u":"0ce87c1dfc7e"};</script>
<script type="text/javascript">    //<![CDATA[
    (function() {
      function asyncLoad() {
        var urls = ["//s.shopify.com/javascripts/shopify_stats.js?v=4"];
        for (var i = 0; i < urls.length; i++) {
          var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = urls[i];
          var x = document.getElementsByTagName('script')[0];
          x.parentNode.insertBefore(s, x);
        }
      }
      window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
    })();
    //]]>
</script>
<link rel="stylesheet" href="/global/theme-controls.css" type="text/css" />
<style>
@font-face
{
font-family: myFirstFont;
src: url('Cabin-regular.otf'),
}
.submitbutton
{
	-moz-border-radius: 10px;
-webkit-border-radius: 10px;
-khtml-border-radius: 10px;
border-radius: 10px;
color: white;
background-color: #df1f8f;
width:125px;
height:40px;

}




</style>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
  <script src="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/jquery-migrate-1.2.0.min.js?4678" type="text/javascript"></script>
  
  <script src="http://cdn.shopify.com/s/shopify/option_selection.js?dbfb7cec78e7c3b13d8446c5fd4f4fa3ce9c123a" type="text/javascript"></script>
  <script src="http://cdn.shopify.com/s/shopify/api.jquery.js?dbfb7cec78e7c3b13d8446c5fd4f4fa3ce9c123a" type="text/javascript"></script>

  
  <script src="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/scripts.js?4678" type="text/javascript"></script>
  <script src="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/js-head.js?4678" type="text/javascript"></script>
   <script type="text/javascript">
    $(document).ready(function () {
      $('select').prop('selectedIndex', -1);

    });
  </script>
</head>

<body>
  
  <!-- Begin toolbar -->
  <div class="toolbar-wrapper">
    <div class="toolbar clearfix">
		<div class="span12 clearfix">
        <ul class="unstyled">

          <!-- ><li class="search-field fl">
            <form class="search" action="/search">
              <input type="image" src="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/icon-search.png?4678" alt="Go" id="go">
              <input type="text" name="q" class="search_box" placeholder="Search" value=""  />
            </form>
          </li>
          -->
         
          
            <li>
    <a href="http://preggonista.com/account/">Member Login</a>
  </li>
      <li class="join">
		<a href="http://preggonista.myshopify.com/products/month-subscription">Join</a>
      </li>  
  <li id="cart-target" class="toolbar-cart">
    <a href="http://preggonista.com/cart" class="cart" title="Shopping Cart"><img class="cart-image" src="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/shop-bag.png?4678" alt="shop-bag">Shopping Bag: <span id="cart-count">0</a>
  </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End toolbar -->
  
  <!-- Begin wrapper -->
  <div class="wrapper">   
      <!-- Begin below navigation -->
        <div class="logo">
          
          <h1><a href="http://preggonista.com/"><img src="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/logo.png?4678" alt="Preggonista" /></a></h1>
          
			<div class="phone">1-855-60-STYLE</div> 
    </div>

    <div id="hts-cart">
      <div id="hts-monthy-style"></div>
      <div style="clear:both"></div>
      </div>
    <div class="dad2be"></div>
      <section id="nav">
        <div class="span12" style="margin-top: -22px;">
          <nav class="main">
            <ul class="horizontal unstyled clearfix">
  
  
  <li>
    <a href="http://preggonista.com/" class=" current">
      <span>Home</span></a>
  </li>
  
  
  
  <li>
    <a href="http://preggonista.com/pages/how-it-works" class="">
      <span>How it Works</span></a>
  </li>
  
  
  
  <li>
    <a href="http://preggonista.com/pages/buy" class="">
      <span>Buy</span></a>
  </li>
  
  
  
  <li>
    <a href="http://preggonista.com/pages/shop" class="">
      <span>Shop</span></a>
  </li>
  
  
</ul>
          </nav> <!-- /.main -->
          <nav class="mobile clearfix">
            
<select name="main_navigation" id="main_navigation" class="fl">
  
    
    <option value="/" selected="selected">Home</option>
    
    
    
  
    
    <option value="/pages/how-it-works">How it Works</option>
    
    
  
    
    <option value="/pages/buy">Buy</option>
    
    
  
    
    <option value="/pages/shop">Shop</option>
    
    
  
  
  <option value="/cart">Your cart (0)</option>
</select>
          </nav> <!-- /.mobile --> 
        </div> 
      </section> 
      <!-- End below navigation -->


      <!-- Begin content-->
      <section id="content">
          
          
<!-- Begin slider -->


<div class="span12">




<h1>Request a Gift</h1>
<!-- <table>
<tr> -->
<div class="span6">
<%= form_for @sub, url: form_index_path, html: { method: :post } do |s|

 %>
<!--  <td> -->
<h3 style="color:#e1188f;">About You</h3>
	
<p>
<b>Name<font  color="red">*</font></b><br />
	<%= s.text_field :name, :required => true %>
</p>
<p>
<b>Email<font  color="red">*</font></b><br />
	<%= s.text_field :email, :required => true %>
</p>
<p>
<b>Size<font  color="red">*</font></b><br />
<%= s.select :size, options_for_select(%w[Small Medium Large X-Large]) %>

</p>
<p>
<b>Due Date</b><br>
<%= s.select :dueMonth, options_for_select(%w[01 02 03 04 05 06 07 08 09 10 11 12]) %>
<%= s.select :dueDay, options_for_select(%w[01 02 03 04 05 06 07 08 09 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31]) %>
<%= s.select :dueYear, options_for_select(%w[2013 2014 2015]) %>





</p>


</div>
<div class="span4">
<!-- </td>
<td> -->

<h3 style="color:#e1188f;">About the Gift Giver</h3>
<p>
<b>Giver's Name</b><br />
<%= s.text_field :gName %></br>
</p>
<p>
<b>Giver's Email<font  color="red">*</font></b><br />
	<%= s.text_field :gEmail, :required => true  %><br />

</p>
<p>
<b>
Relationship
<font  color="red">*</font>
</b><br />
<%= s.select :gRelationship, options_for_select([["Dad-to-be"], ["Mom"], ["Dad"], ["Sister"], ["Best friend"], ["Coworker"],["Other"]]) %><br /><br /><br />
<%= s.submit "Submit", class: 'submitbutton' %>
</p>
<!-- </td>
</tr>
</table> -->


</div><br />
<% end %>
</div>

<!-- End slider -->


<!-- start 3 panel selections -->
<!-- <div class="homepanel panel-01"><h1>Gift box</h1>
<p>The perfect&nbsp;acknowledgement&nbsp;of her beauty during pregnancy.</p>
<ul>
<li><a style="line-height: 1.2;" href="/collections/buy-gift">Give a gift</a></li>
<li><a style="line-height: 1.2;" href="/pages/request-a-gift">Request a gift</a></li>
</ul></div>
<div class="homepanel panel-02"><h1>Subscription</h1>
<p>Stay in style during pregnancy with the fantastic finds in our monthly style boxes.</p>
<ul>
<li><span style="line-height: 1.2;"><a href="pages/how-it-works">Learn More</a></span></li>
<li><a href="http://preggonista.com/products/month-subscription"><span style="line-height: 1.2;">Join</span></a></li>
</ul></div>
<div class="homepanel panel-03"><h1>Community</h1>
<p>See and share outstanding maternity style in our community.</p>
	
	<div id="social">
	 <p align="left"> <img src=http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/find-on.png?4678 width="125" alt="Find Preggonista On:" style="border:none;">
	 <a href="http://www.facebook.com/preggonista" title="Preggonista on Facebook" target="_blank"><img src=http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/facebook.png?4678 width="30" height="30" alt="facebook" style="padding-bottom:3px;padding-right:3px;border:none;"></a> 
	 <a href="http://instagram.com/preggonista/" title="Preggonista on Instagram" target="_blank"><img src=http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/instagram.png?4678 width="30" height="30" alt="pinterest" style="padding-bottom:3px;padding-right:3px;border:none;"></a>
	 <a href="http://twitter.com/preggonistalife" title="Preggonista on Twitter" target="_blank"><img src=http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/twitter.png?4678 width="30" height="30" alt="twitter" style="padding-bottom:3px;padding-right:3px;border:none;"></a>
	 <a href="https://plus.google.com/u/1/111814706428667360495/about" title="Preggonista on Google+" target="_blank"><img src=http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/google.png?4678 width="30" height="30" alt="google+" style="padding-bottom:3px;padding-right:3px;border:none;"></a></p></div>
	 <div style="text-align:right;margin:0 8px 0 0">
	 <a href="http://pinterest.com/preggonista/"><img src=http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/pinterest.png?4678 /></a>
	 <a href="http://www.youtube.com/channel/UCOwGvE6uS6oUya6KYKwFpCg?feature=watch"><img src=http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/youtube.png?4678 /></a>
	</div>
</div> -->
<div style="clear:both"></div>

<!-- end 3 panel selections -->
<!-- start featured product -->



  <div class="clearfix helper-section">



    
    
    


    

    </div><!-- span12 helper content -->
    </div><!-- featured product -->

    

<!-- end featured product -->

           
  </section>
      
<!-- End content-->

  <!-- Begin footer -->
  <footer>
    <div>
    
      <!-- Begin footer navigation -->
      <div class="footer-menu">
        <ul>
          
            <li><a href="http://preggonista.com/pages/whats-in-the-box" title="What's in the Style Box">What's in the Style Box</a></li>
          
            <li><a href="http://preggonista.com/pages/size-chart" title="Size Chart">Size Chart</a></li>
          
            <li><a href="http://preggonista.com/pages/frequently-asked-questions" title="Frequently Asked Questions">Frequently Asked Questions</a></li>
          
            <li><a href="http://preggonista.com/pages/about-preggonista" title="About Preggonista">About Preggonista</a></li>
          
        </ul>
      </div>
      <!-- End footer navigation -->
    	
      <!-- Begin copyright -->
      <div class="span12 tc copyright">
        <p>Copyright &copy; 2013 Preggonista, LLC | Preggonista | 244 Fifth Avenue | Suite 2497 | New York, New York 10001 | 855-60-STYLE (855-607-8953)</p>
		<p>
            <a href="http://preggonista.com/pages/privacypolicy" title="Privacy | ">Privacy | </a>
          
            <a href="http://preggonista.com/pages/shipping" title="Shipping |">Shipping |</a>
          
            <a href="http://preggonista.com/pages/terms" title="Terms & Conditions">Terms & Conditions</a>
          
		</p>
      </div>
      <!-- End copyright -->
    </div>
  </footer>
  <!-- End footer -->
    
</div>
<!-- End wrapper -->


  <script src="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/jquery.flexslider-min.js?4678" type="text/javascript"></script>

  
  <script src="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/jquery.tweet.js?4678" type="text/javascript"></script>
  <script src="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/jquery.fancybox.js?4678" type="text/javascript"></script>

  
  
 
  
  
  <script src="http://cdn.shopify.com/s/files/1/0242/2427/t/3/assets/jquery.limit.min.js?4678" type="text/javascript"></script>
  <script type="text/javascript" charset="utf-8">
  //<![CDATA[
  Shopify.Cart.setProductHandle('');
  Shopify.Cart.limit( { 
      limitPer: 'product', 
      limitQuantity: 1
      } );
  //]]>
  </script>
  
    
</body>
</html>